/* body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
}

#container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #fff;
}

.box {
    width: 100px;
    height: 50px;
    background-color: #4285f4;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

#search-bar {
    text-align: center;
    padding: 20px;
}

#search-input {
    padding: 10px;
    width: 300px;
}

#search-button {
    padding: 10px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    cursor: pointer;
} */


body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
}

.flex-container {
    display: flex;
}

.content-wrapper {
    flex-grow: 1;
}

.content {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
}